<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <div class="navbar-fixed">
            <nav>
              <div class="nav-wrapper deep-purple darken-3">
                <a href="/" class="brand-logo">TutorUP</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                  <li><a href="/tutors/add">Add New Tutor</a></li>
                  <li><a href="/tutors"><i class="material-icons">view_module</i></a></li>
                  <li><a class="waves-effect waves-light btn-large">Sign Up | Login</a></li>
                  <form>
                      <input id="search" type="search" required>
                      <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                      <i class="material-icons">close</i>
                  </form>
                </ul>
              </div>
            </nav>
        </div>
