<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <div class="navbar-fixed">
            <nav>
              <div class="nav-wrapper deep-purple accent-2">
                <a href="/" class="brand-logo">TutorUP</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                  <li><a href="/tutors/add">Add New Tutor</a></li>
                  <li><a href="/tutors">View All Tutors</a></li>
                </ul>
              </div>
            </nav>
        </div>
        <main>

                <div class="col-sm-8">
                    <div class="jumbotron text-center jumbotron-fluid">
                        <div class="container">
                            <h1 class="display-3"><%= title %></h1>
                            <a class="btn btn-primary btn-lg" href="https://github.com/EliasParaiso/TutorUP" role="button">Learn more</a>
                        </div>
                    </div>
                </div>


        </main>
