<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <nav class="navbar navbar-default bg-dark" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">
                        <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                        TutorUP
                    </a>
                    <a href="/tutors/add">Add New Tutor</a>
                    <a href="/tutors">View All Tutors</a>
                </div>
            </div>
        </nav>
        <main>

                <div class="col-sm-8">
                    <div class="jumbotron text-center jumbotron-fluid">
                        <div class="container">
                            <h1 class="display-3"><%= title %></h1>
                            <a class="btn btn-primary btn-lg" href="https://github.com/EliasParaiso/TutorUP" role="button">Learn more</a>
                        </div>
                    </div>
                </div>


        </main>
