<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <div class="navbar-fixed">
            <nav>
              <div class="nav-wrapper deep-purple darken-3">
                <a href="/" class="brand-logo">TutorUP</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                  <li><a href="/tutors/add">Add New Tutor</a></li>
                  <li><a href="/tutors">View All Tutors</a></li>
                </ul>
              </div>
            </nav>
        </div>
