<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
<head>
    <%- include layouts/header.ejs %>
</head>

<div class="container indigo lighten-4"></div>

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

<!--
including footer content which is common for all pages
-->
<%- include layouts/footer.ejs %>
